In [10]:
import pandas as pd

df = pd.read_csv('/Users/salehalzahrani/Downloads/Coffee Sales.csv')


print("Shape:", df.shape)
display(df.head())
df.info()

Shape: (200, 6)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Karen Clark,China,Organic Fair Trade,19/02/2022,"$39,199.64",413
1,Daniel Lee,USA,Arabica Dark Roast,16/11/2022,"$5,214.27",152
2,Daniel Lee,China,Robusta Medium,02/10/2023,"$26,553.48",325
3,John Doe,Australia,Breakfast Blend,21/04/2022,"$14,547.43",370
4,Laura Martinez,UK,French Roast,13/04/2023,"$15,270.04",156

<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   200 non-null    str
 1   Country        200 non-null    str
 2   Product        200 non-null    str
 3   Date           200 non-null    str
 4   Amount         200 non-null    str
 5   Boxes Shipped  200 non-null    int64
dtypes: int64(1), str(5)
memory usage: 9.5 KB